# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     apkaime
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    cp_name: janis.gruzis@kotique.lv
    cp_password: YmYYkB4W
    cp_database: patronage
    cp_address:
        - "tcp://78.154.146.20:9007"
        - "tcp://78.154.146.21:9007"
        - "tcp://78.154.146.22:9007"
        - "tcp://78.154.146.23:9007"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            lv

    # A secret key that's used to generate certain security-related tokens
    secret:            a02b54eb02a55fe5a90c6262bd761d89
